<%- include ('../views/partials/header') %>
<h3>&nbsp;Add a new Person</h3>
 
        <form method = "POST" action="/person/add">&nbsp;
            <input type= "text" name="name" placeholder="Name">
            <input type="submit" value="Submit" >
        </form>
   
<h3>&nbsp;Add a new Location</h3>
<form method = "POST" action="/location/add">&nbsp;
    <input type= "text" name="city" placeholder="City">
    <input type= "text" name="state" placeholder="State">
    <input type="submit" value="Submit" >
</form>

<h3>&nbsp;Connect Friends</h3>
<form method = "POST" action="/friends/connect">&nbsp;
    <input type= "text" name="name1" placeholder="Name">
    <input type= "text" name="name2" placeholder="Name">
    <input type="submit" value="Submit" >
</form>

<h3>&nbsp;Add Birth Location</h3>
<form method = "POST" action="/person/born/add">&nbsp;
    <input type= "text" name="name" placeholder="Name">
    <input type= "text" name="city" placeholder="City">
    <input type= "text" name="state" placeholder="State">
    <input type= "text" name="year" placeholder="Year">
    <input type="submit" value="Submit" >
</form>

<h3>&nbsp;People</h3>
<div class="row">
    <% persons.forEach(function(person){ %>
        <div class="col-md-2">
            <div class="card card-body bg-light"><i class="fa fa-user"></i><a href="/person/<%= person.id %>"><%= person.name %></a></div>&nbsp;
        </div>
    <% }) %>
</div>

<h3>&nbsp;Locations</h3>
<div class="row">
<% locations.forEach(function(location){ %>
    <div class="col-md-2">
        <div class="card card-body bg-light"><i class="fa fa-map-marker"></i><%= location.city %>, <%= location.state %></div>
</div>
<% }) %>
</div>

<%- include ('../views/partials/footer') %>
