<%- include ('../views/partials/header') %>
<a href="/">&nbsp;Go Back </a>

<h1>&nbsp;<i class="fa fa-user"></i> <%= name %></h1>
<%if (city) { %>
<br>
<h4>&nbsp;<i class="fa fa-map-marker"></i> Birthplace: <%= city %>, <%= state %></h4>
<% } %>
<br>
<h3>&nbsp;<i class="fa fa-users"></i>Friends with: </h3>
    <% friends.forEach(function(person) { %>
        <div class="card card-body bg-light col-md-2"><a href="/person/<%= person.id %>"><%= person.name %></a></div>&nbsp;
    <% }); %>

<%- include ('../views/partials/footer') %> 